# Packages & Data import

In [14]:
!pip3 install pandas

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/86/12/08b092f6fc9e4c2552e37add0861d0e0e0d743f78f1318973caad970b3fc/pandas-0.25.2-cp36-cp36m-manylinux1_x86_64.whl
Collecting numpy>=1.13.3 (from pandas)
  Using cached https://files.pythonhosted.org/packages/0e/46/ae6773894f7eacf53308086287897ec568eac9768918d913d5b9d366c5db/numpy-1.17.3-cp36-cp36m-manylinux1_x86_64.whl
Collecting python-dateutil>=2.6.1 (from pandas)
  Using cached https://files.pythonhosted.org/packages/41/17/c62faccbfbd163c7f57f3844689e3a78bae1f403648a6afb1d0866d87fbb/python_dateutil-2.8.0-py2.py3-none-any.whl
Collecting pytz>=2017.2 (from pandas)
  Downloading https://files.pythonhosted.org/packages/e7/f9/f0b53f88060247251bf481fa6ea62cd0d25bf1b11a87888e53ce5b7c8ad2/pytz-2019.3-py2.py3-none-any.whl (509kB)
    100% |████████████████████████████████| 512kB 657kB/s ta 0:00:01
Collecting six>=1.5 (from python-dateutil>=2.6.1->pandas)
  Using cached https://files.pythonhosted.org/packages/73/fb/00a976f728d0d1fecfe898238ce23f502a721c0ac0ecfedb80e0d88c64e9/six-1.12.0-py2.py3-none-any.whl
Installing collected packages: numpy, six, python-dateutil, pytz, pandas
Successfully installed numpy-1.17.3 pandas-0.25.2 python-dateutil-2.8.0 pytz-2019.3 six-1.12.0

In [1]:
import torchvision
from torch.utils.tensorboard import SummaryWriter
from matplotlib import pyplot as plt
import torch
from datamaestro import prepare_dataset 
# from mlxtend.data import loadlocal_mnist
import os
# from pathlib import Path
import pandas as pd

In [6]:
df_city=pd.read_csv("city_attributes.csv")
df_temp=pd.read_csv("tempAMAL_train.csv")

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Detroit,Jacksonville,Charlotte,Miami,Pittsburgh,Toronto,Philadelphia,New York,Montreal,Boston
0,2012-10-01 13:00:00,284.630000,282.080000,289.480000,281.800000,291.870000,291.530000,293.410000,296.600000,285.120000,...,284.030000,298.170000,288.650000,299.720000,281.000000,286.260000,285.630000,288.220000,285.830000,287.170000
1,2012-10-01 14:00:00,284.629041,282.083252,289.474993,281.797217,291.868186,291.533501,293.403141,296.608509,285.154558,...,284.069789,298.205230,288.650172,299.732518,281.024767,286.262541,285.663208,288.247676,285.834650,287.186092
2,2012-10-01 15:00:00,284.626998,282.091866,289.460618,281.789833,291.862844,291.543355,293.392177,296.631487,285.233952,...,284.173965,298.299595,288.650582,299.766579,281.088319,286.269518,285.756824,288.326940,285.847790,287.231672
3,2012-10-01 16:00:00,284.624955,282.100481,289.446243,281.782449,291.857503,291.553209,293.381213,296.654466,285.313345,...,284.278140,298.393961,288.650991,299.800641,281.151870,286.276496,285.850440,288.406203,285.860929,287.277251
4,2012-10-01 17:00:00,284.622911,282.109095,289.431869,281.775065,291.852162,291.563063,293.370249,296.677445,285.392738,...,284.382316,298.488326,288.651401,299.834703,281.215421,286.283473,285.944057,288.485467,285.874069,287.322831
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11110,2014-01-07 11:00:00,275.019500,276.580000,281.940000,277.170000,284.080000,282.970000,278.160000,278.530000,267.730000,...,284.618000,270.010000,261.480000,283.380000,284.068000,283.568000,257.080000,258.260000,258.400000,263.150000
11111,2014-01-07 12:00:00,275.960000,276.540000,281.840000,277.220000,283.150000,281.130000,279.090000,278.060000,266.640000,...,284.618000,269.370000,261.480000,282.730000,284.068000,283.568000,256.790000,257.800000,257.880000,261.860000
11112,2014-01-07 13:00:00,275.930000,276.560000,281.190000,277.280000,282.220000,282.020000,278.910000,277.410000,266.420000,...,284.618000,268.610000,261.480000,282.570000,284.068000,283.568000,256.650000,257.240000,256.690000,261.330000
11113,2014-01-07 14:00:00,276.310000,276.520000,280.630000,277.430000,282.110000,281.610000,277.820000,277.430000,266.640000,...,284.618000,269.050000,261.670000,282.890000,284.068000,283.568000,256.960000,257.740000,257.480000,261.560000
11114,2014-01-07 15:00:00,276.760000,276.570000,280.570000,277.560000,282.040000,282.050000,277.710000,278.690000,266.990000,...,284.618000,270.750000,263.190000,284.070000,284.068000,283.568000,258.040000,258.310000,258.270000,262.230000